# This .env file is used for the root level docker-compose.yml file.

# Supabase credentials
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
# Local Redis (optional)
REDIS_HOST=
REDIS_PORT=
# Redis Dashboard (optional)
PORT=
# The Odds API (https://the-odds-api.com)
ODDS_API_KEY=