# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.local
.env.development
.env.staging
.env.production
.dev.vars

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Temp files
tmp
html-fixtures
test-fixtures

# ----- REPO SPECIFIC -----

# /packages/landing
.astro/
# /packages/mobile
.expo/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
/ios
/android
# /packages/worker
.wrangler/